#root {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-color: #29262a;
    color: white;
}

header {
    width: 100%;
    height: 70px;
    letter-spacing: 4px;
    justify-content: space-around;
    z-index: 2;

    .nav_control {
        gap: 5%;
        justify-content: space-around;

        nav {
            width: 50%;
            letter-spacing: 1px;
            min-height: 5vh;
            align-content: center;

            ul {
                height: 100%;
                justify-content: space-evenly;
                align-items: center;
            }
        }

        .movie-hover-wrapper {
            position: relative;

            .movie-text {
                border-radius: calc(infinity * 1px);
                border: #29262a solid 2px;
                color: white;
                padding: 1px 20px;
            }
        }
    }
}

.MainPage {
    position: relative;
    height: calc(100vh - 110px);
    /* height: 91vh; */


    .Home_Page {
        position: fixed;
        left: 45%;
        top: 5px;
        transform: translateX(-50%);
        z-index: 1;

        .grid_design {
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-left-width: 450px;
            border-right-width: 450px;
            border-top: 750px solid black;
        }

        .tri2 {
            position: absolute;
            left: 53%;
            rotate: 180deg;
        }

        .tri3 {
            position: absolute;
            left: 53%;
            top: 34.4%;
        }
    }
}



@media (min-width: 1921px) {
    header {
        .nav_control {
            width: 70% !important;

            nav {
                width: 40%;
            }

            .menu-icon {
                display: none;
            }
        }
    }
}

@media (min-width: 1401px) and (max-width: 1920px) {
    header {
        .nav_control {
            width: 70% !important;

            .menu-icon {
                display: none;
            }
        }
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    header {
        .nav_control {
            width: 70% !important;

            .menu-icon {
                display: none;
            }
        }
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    header {
        .nav_control {
            width: 70% !important;
            nav {
                width: 60%;
            }
            .menu-icon {
                display: none;
            }
        }
    }
}

@media (min-width: 651px) and (max-width: 900px) {
    header {
        .nav_control {
            width: 80% !important;

            nav {
                width: 100%;
            }

            .menu-icon {
                display: none;
            }
        }
    }
}

@media (max-width: 650px) {
    .nav_control {
        flex-direction: row;
        position: relative;
        cursor: pointer;
        padding: 10px;
        width: 60% !important;
        align-items: center;
    }

    .nav_control nav {
        display: none;
    }

    .menu-icon:hover + nav {
        display: block;
    }

    .nav_control nav ul {
        flex-direction: column;
        background-color: white;
        border: 1px solid #ddd;
        padding: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 150px;
        height: unset !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 999;
        align-items: unset !important;
    }

    nav {
        width: unset !important;
    }
        .Home_Page .grid_design {
            border-left-width: 150px !important;
            border-right-width: 150px !important;
            border-top: 300px solid black !important;
        }
}


